@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

* {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body{
    position: relative;
}


header {
    box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}


header .logo img {
    height: 3.5em;
}

.logo span {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.highlight {
    color: #433bff;
    font-weight: 600;
}

.navbar {
    display: flex;
    gap: 10px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 10px 15px;
}

.navbar a:hover {
    text-decoration: underline 2px #201658;
    color: #433bff;
}

.navbar a.active-tab {
    color: #1abc9c;
    text-decoration: underline 2px #201658;
}

/* Dropdown styling */
.dropdown {
    position: relative;
    padding: 10px 15px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgba(32, 22, 88, 0.5);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    list-style: none;
    padding: 0;
    width: fit-content;
    z-index: 1000;
}



.dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #f4f4f4;
}


.dropdown:hover .dropdown-menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

header .btn button {
    margin-left: 10px;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    background-color: #201658;
}

header .btn button:hover {
    background-color: #fff;
    color: #201658;
    border: 1px solid #201658;
   
}


/* header section done */

/* hero section starts */
.hero-top {
    display: flex;
    flex-direction: column;
    background-image: url(/assets/img/Church.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    animation: slide 20s infinite;
}

.hero {
    display: flex;
    flex-direction: column;
    /* background-size: cover;
    background-repeat: no-repeat; */
    /* height: 100vh; */
    position: relative;
    /* animation: slide 20s infinite; */
}

/* this is for the the background animation on the hero section */
@keyframes slide {
    0% {
        background-image: url(/assets/img/Church.png);
    }

    25% {
        background-image: url(/assets/img/bible.png);
    }

    50% {
        background-image: url(/assets/img/worship1.png);
    }

    75% {
        background-image: url(/assets/img/church_bw.png);
    }

    100% {
        background-image: url(/assets/img/Church.png);
    }
}

.hero-content {
    margin: 5em auto;
    text-align: center;
}

.hero-content h1 {
    font-size: 2em;
    color: #fff;
}

.hero-content span {
    font-size: 3em;
    font-weight: 500;
    color: #433bff;
}

.hero-content p {
    color: #fff;
    font-size: 1em;
    font-weight: 500;
}

.hero-content .btn {
    margin: 20px auto;
}

.hero-content .btn button {
    margin-left: 10px;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.hero-content .btn button:nth-child(1) {
    background-color: #201658;
    color: #fff;
}

.hero-content .btn button:nth-child(2) i {
    color: #201658;
}

.hero-content .btn button:nth-child(1):hover {
    color: #201658;
    border: 2px solid;
    background-color: #fff;
}
#stone{
    display: block;
    margin: auto;
}

#prayerList{
    display: none;
    text-align: left; /* Align the list text to the left */
    margin: 0 auto;
}
.schedule-table {
    /* margin-top: 5%; */
    margin-bottom: 5%;
    margin: 25px 30px;
    width: 95%;
    border-collapse: collapse;
  }
  
  .schedule-table th, .schedule-table td {
    border: 1px solid #201658;
    padding: 10px;
    text-align: center;
  
}

  
  .schedule-table th {
    background-color: #201658;
    color: white;
  }
  
  .schedule-table td {
    background-color: #d7d6f0;
    /* color: white; */
  }

.hero .socials {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 2em;
    left: 1em;
    top: 10em;
    padding: 10px 2px;
    background-color: rgba(51, 51, 51, 0.4);
    border: 2px solid #201658;
    border-radius: 5px;
}

.hero .socials a {
    text-decoration: none;
}

.hero .socials i {
    color: #fff;
    font-size: 1.3em;
    padding: 2px 5px;
}

.hero .socials i:hover {
    color: #201658;
    border: 1px solid #433bff;
    border-radius: 3px;
}

.hero .times {
    display: flex;
    margin: 0 auto;
    background-color: rgba(221, 221, 221, 0.7);
    gap: 1em;
    border-radius: 5px;
    padding: 1em 2em;
    border: 1px solid #201658;
}

.times .service {
    display: flex;
    gap: 0.5em;
}

.times .service i {
    font-size: 1.5em;
    color: #201658;
}

.times .service h2 {
    color: #201658;
}

/* hero section done */


/* upcoming starts here */
.upcoming {
    margin: 25px 16px;
}

.upcoming h3 {
    margin: 16px 0;
    font-size: 2em;
    color: #201658;
    text-decoration: underline 0.2em;
}

.upcoming-events {
    display: flex;
    gap: 1em;
}

.upcoming-events .event {
    padding: 1em;
    width: 100%;
}

.upcoming-events .event h3,
.prayer h3 {
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
}

.event .event-item {
    display: flex;
    gap: 1em;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 10px 0;
}

.event .event-item img {
    height: 10em;
    border-radius: 5px;
}

.event-item .event-info h4 {
    font-size: 1.5em;
    font-weight: 500;
    color: #201658;
    margin: 10px 0;
}

.event-item .event-info {
    width: 100%;
}

.event-item .event-info>div {
    background-color: #201658;
    width: fit-content;
    padding: 0 5px;
    border-radius: 5px;
    color: #fff;
    margin: 12px 0;
}

.event-item .event-info p,
.event-info p {
    font-weight: 500;
    font-size: 1.1em;
    color: #4c4c4c;
}

.event button {
    margin-top: 0.5em;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    background-color: #201658;
    color: #fff;
}

.event button:hover {
    color: #201658;
    border: 2px solid #201658;
    background-color: #fff;
}

.event button i {
    margin-right: 5px;

}

.prayer {
    margin: 16px;
    width: 50%;
}

.prayer-item {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 5px 16px;
    margin: 10px 0;
}

.prayer-item i {
    font-size: 2em;
    cursor: pointer;
}

.audio-control {
    display: flex;
    gap: 1em;
}

.audio-player {
    margin: 10px 0;
}

.play-pause-btn {
    color: #201658;
}

.playing {
    color: #433bff;
}

.audio-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.audio-timeline {
    width: 20em;
    height: 6px;
    background: #ddd;
    border-radius: 5px;
}

.audio-timeline::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #201658;
    cursor: pointer;
}

.audio-timeline::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #201658;
    cursor: pointer;
}

.prayer-item h4 {
    color: #201658;
}

.prayer-item span {
    color: #2e2e2e;
    font-weight: 600;
}

.prayer-item .date {
    background-color: #201658;
    width: fit-content;
    padding: 0 10px;
    color: #fff;
    border-radius: 5px;
}

.prayer button {
    margin-top: 0.5em;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    color: #2e2e2e;
}

.prayer button:hover {
    background-color: #201658;
    color: #fff;
}

main{
    position: relative;
}
/* upcominf event css done */

/* verses in the word styling start */
.bible-verse {
    overflow: hidden;
    position: relative;
    margin: 25px 30px;
    background-color: #f4f4f4;
    border-radius: 5px;
    text-align: center;
    padding: 1em 0;
}

.bible-verse h2{
    color: #201658;
}
.bible-verse blockquote {
    font-size: 1.3rem;
    font-style: italic;
    margin: 0;
    color: #201658;
    font-weight: 500;
}
.bible-verse #verse-info {
    font-size: 14px;
    text-align: right;
    margin-top: 10px;
    color: #433bff;
    font-size: 1.1em;
}
.bible-verse .slides {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}
.bible-verse .slides .slide {
    min-width: 100%;
    padding: 20px;
}
.indicators {
    text-align: center;
    margin-top: 10px;
}
.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #201658;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.active {
    background: #2980b9;
}

/* call-to-action styling */
.call-to-action{
    width: 100%;
    background-image: url(/assets/img/verse-church-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px 30px;
    margin: 1em 0;
}

.call-to-action h2{
    color: #201658;
    margin: 1em 0;
}

.call-to-action i{
    padding: 5px;
    border: 1px solid #201658;
    border-radius: 50%;
    margin: 0 0.5em;
    background-color: #201658;
    color: #fff;
}

.call-to-action p{
    font-size: 1.2em;
    font-weight: 500;
    margin: 1em 0;
}

.call-to-action button{
    padding: 8px 20px;
    border: 2px solid #201658;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 500;
}
.call-to-action button:hover{
    background-color: #201658;
    color: #fff;
}

/* schedule-modal STYLING */
.schedule-modal {
    border: 1px solid #201658;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    position: fixed;
    top: 10%;
    left: 20%;
}

.schedule-modal.active {
    display: flex;
}

.hidden {
    display: none;
}

.schedule-modal.hidden {
    display: none;
}
  

.schedule-container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    display: flex;
    gap: 1em;
    border-radius: 10px;
    background-color: #373c4f;
}

.schedule-left {
    width: 60%;
    padding: 20px;
}

.calendar {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #878895;
    border-radius: 5px;
    background-color: #fff;
}

.calendar::before,
.calendar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #d3d4d6d7;
    transform: translateY(-50%);
}

.calendar::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(153, 153, 153);
}

.calendar .month {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}

.calendar .month .prev,
.calendar .month .next {
    cursor: pointer;
}

.calendar .month .date ,
.calendar .month .prev,
.calendar .month .next{
    margin-top: 1.5em;
}

.calendar .month .prev,
.calendar .month .next {
    cursor: pointer;
}

.calendar .month .prev:hover,
.calendar .month .next:hover {
    color: #201658;
}

.calendar .weekdays {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.weekdays div {
    width: 14.28%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.calendar .days .day {
    width: 14.28%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #201658;
    border: 1px solid #f5f5f5;
}

.calendar .days .day:nth-child(7n + 1) {
    border-left: 2px solid #f5f5f5;
}

.calendar .days .day:nth-child(7n) {
    border-right: 2px solid #f5f5f5;
}

.calendar .days .day:nth-child(-n + 7) {
    border-top: 2px solid #f5f5f5;
}

.calendar .days .day:nth-child(n + 29) {
    border-bottom: 2px solid #f5f5f5;
}

.calendar .days .day:not(.prev-date, .next-date):hover {
    color: #fff;
    background-color: #201658;
}

.calendar .days .prev-date,
.calendar .days .next-date {
    color: #b3b3b3;
}

.calendar .days .active {
    position: relative;
    font-size: 2rem;
    color: #fff;
    background-color: #201658;
}

.calendar .days .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px #201658;
}

.calendar .days .today {
    font-size: 2rem;
}

.calendar .days .event {
    position: relative;
}

.calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: #201658;
}

.calendar .days .day:hover.event::after {
    background-color: #fff;
}

.calendar .days .active.event::after {
    background-color: #fff;
    bottom: 20%;
}

.calendar .days .active.event {
    padding-bottom: 10px;
}

.calendar .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: #201658;
}

.calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #201658;
}

.calendar .goto-today .goto input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: #201658;
    border-radius: 5px;
}

.calendar .goto-today button {
    padding: 5px 10px;
    border: 1px solid #201658;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: #201658;
}

.calendar .goto-today button:hover {
    color: #fff;
    background-color: #201658;
}

.calendar .goto-today .goto button {
    border: none;
    border-left: 1px solid #201658;
    border-radius: 0;
}

.schedule-container .schedule-right {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
}

.schedule-right button{
    position: absolute;
    right: 0;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    color: #004080;
    font-weight: 600;
}
.schedule-right button:hover{
    color: #fff;
    background-color: #1abc9c;
}

.schedule-right .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.schedule-right .today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
}

.schedule-right .today-date .event-date {
    font-size: 1rem;
    font-weight: 400;
    color: #878895;
}

.schedule-right .events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
}

.schedule-right .events .event {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    color: #fff;
    background: linear-gradient(90deg, #3f4458, transparent);
    cursor: pointer;
}

/* even event */
.schedule-right .events .event:nth-child(even) {
    background: transparent;
}

.schedule-right .events .event:hover {
    background: linear-gradient(90deg, #201658, transparent);
}

.schedule-right .events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;
}

.events .event .title .event-title {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
}

.schedule-right .events .event i {
    color: #201658;
    font-size: 0.5rem;
}

.schedule-right .events .event:hover i {
    color: #fff;
}

.schedule-right .events .event .event-time {
    font-size: 0.8rem;
    font-weight: 400;
    color: #878895;
    margin-left: 15px;
    pointer-events: none;
}
.schedule-right .events .event:hover .event-time {
    color: #fff;
}

/* add tick in event after */
.events .event::after {
    content: "✓";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    line-height: 1;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: var(--primary-clr);
    transform: translateY(-50%);
}

.events .event:hover::after {
    display: flex;
}

/* footer css starts */
footer {
    box-shadow: -1px -4px 5px 0px rgba(122, 122, 122, 0.75);
    -webkit-box-shadow: -1px -4px 5px 0px rgba(122, 122, 122, 0.75);
    -moz-box-shadow: -1px -4px 5px 0px rgba(122, 122, 122, 0.75);
    padding: 16px;
}

footer .footer-top {
    display: flex;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
}

.footer-top .left-side {
    display: block;
}

.left-side img {
    height: 5em;
}

.left-side h5 {
    font-size: 1.5em;
}

.left-side h5 span {
    color: #433bff;
}

.left-side .info {
    display: flex;
    gap: 2em;
    margin: 16px 0;
}

.info .email,
.number {
    display: flex;
    flex-direction: column;
}

.info .email span,
.number span {
    font-weight: 600;
    font-size: 1.2em;
    color: #201658;
}

.info .email a,
.number a {
    margin: 5px 0;
    color: #433bff;
}


.info .email a:hover,
.number a:hover {
    color: #201658;
}

.left-side .accountable {
    display: flex;
    gap: 1.5em;
}

.accountable a {
    color: #4c4c4c;
    font-weight: 500;
}

.footer-top .right-side p {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-top .right-side .footer-btn {
    margin: 2em auto;
    display: flex;
    gap: 1em;
}

.right-side .footer-btn button {
    padding: 1em 1.1em;
    border-radius: 5px;
    border: none;
    color: #333;
    font-weight: 500;
    border: 2px solid #201658;
}

.footer-btn button:hover {
    background-color: #201658;
    color: #fff;
}

.footer-btn button:nth-child(1) {
    background-color: #201658;
    color: #fff;
}

.footer-btn button:nth-child(1):hover {
    color: #201658;
    background-color: #fff;
}

footer hr {
    margin: 10px 0;
}

footer .bottom {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

footer .bottom .socials {
    display: flex;
    gap: 16px;
}

footer .bottom .socials div {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #201658;
    font-size: 1em;
}

footer .bottom .socials div:hover {
    background-color: #201658;
    border: none;
}

footer .bottom .socials a {
    color: #201658;
}

footer .bottom .socials a:hover {
    color: #fff;
}

footer .bottom span {
    color: #41653b;
}

footer .color {
    background-color: #201658;
    height: 1em;
}


/* sermon page starts here */
.subpage-hero {
    /* margin: 1em 0; */
    background-image: url(/assets/img/Church.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    height: 11em;
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.75);
}

.subpage-hero a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
}

.subpage-hero a:hover{
    color: #201658;
}



.subpage-hero .top {
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
}

.subpage-hero h1 {
    font-weight: 600;
    font-size: 2em;
    margin: 1em 0;
}

.subpage-hero .top form {
    display: flex;
    border: 1px solid #201658;
    border-radius: 5px;
    height: fit-content;
}

.subpage-hero .top form input {
    border-radius: 5px 0 0 5px;
    padding: 6px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    outline: none;
    color: #fff;
    border: none;
}

.subpage-hero .top form button {
    padding: 6px 20px;
    background-color: #201658;
    cursor: pointer;
    border: none;
}

.subpage-hero span {
    color: #201658;
    font-weight: 500;
    font-size: 1.3em;
}

.subpage-hero .top form button:hover {
    color: #201658;
    background-color: #fff;
    border: 2px solid #201658;
    border: none;
}

.subpage-hero .top form button i {
    font-size: 1.3em;
    color: #fff;
}

.subpage-hero .top form button i:hover {
    color: #201658;
}

.subpage-hero .pagination {
    display: flex;
    gap: 5px;
    justify-content: center;

}

.subpage-hero img {
    height: 5em;
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    /* top: 50%; */
    left: 47%;
}

.sermon-item {
    display: flex;
    margin: 4em 16px;
    gap: 1.5em;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
        0 6px 6px rgba(0, 0, 0, 0.15);
    height: fit-content;
    border-radius: 5px;
    padding: 5px;
}

.sermons .img {
    position: relative;
    
}

.img img {
    height: 15em;
    width: 25em;
    border-radius: 5px;
    border-top: 3px solid #201658;
    border-left: 3px solid #201658;
    border-bottom: 3px solid #201658;
    object-fit: cover;
}

.content-btn {
    position: absolute;
    top: 74%;
    left: 1%;
    bottom: 1em;
}

.content-btn button {
    padding: 6px 20px;
    border-radius: 5px;
    border: none;
    background-color: #201658;
    color: #fff;
    cursor: pointer;
}

.content-btn button:hover {
    background-color: #f4f4f4;
    color: #201658;
}

.content-btn button i {
    font-size: 20px;
}

.sermon-info {
    padding: 16px;
}

.by {
    display: flex;
    gap: 10px;
}

.sermon-info h1 {
    color: #201658;
}

.sermon-info p {
    color: rgba(51, 51, 51, 0.5);
    margin: 0.5em 0;
}

em {
    color: #433bff;
}

.sermon-info button {
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    margin: 0.5em 0;
}

.sermon-info button:hover {
    background-color: #201658;
    color: #fff;
}

.pagination-number span.active-page {
    background-color: #201658;
    color: #fff;
    border: none;
}


.pagination-number {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1em;
    color: #201658;
}

.pagination-number span {
    padding: 3px 15px;
    border: 2px solid #201658;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.pagination-number span:hover {
    background-color: #201658;
    color: #fff;
}


.pagination-number button {
    padding: 3px 15px;
    background-color: #201658;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
}

.pagination-number button:hover{
    border: 2px solid #201658;
    color: #201658;
    background-color: #fff;
}

.pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Contact Container Styles */
.contact {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin: 4em 0;
}

.contact .item-top {
    background-color: #ddd;
    border-radius: 10px;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid #201658;
}

.contact .item-top i {
    color: #201658;
    text-align: center;
    font-size: 2em;
}

.contact .item-top h2 {
    color: #201658;
    text-align: center;
    margin: 0.5em 0;
}

.contact .item-top span {
    color: #333;
}

.contact .item-top button {
    margin-top: 1em;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #201658;
    color: #201658;
    font-weight: 500;
}

.contact .item-top button:hover {
    background-color: #201658;
    color: #fff;
}

.form-filing {
    margin: 0.5em 4em;
    display: flex;
    /* justify-content: space-between; */
    border: 1px solid #201658;
    border-radius: 10px;
    height: fit-content;
}

.form-filing .form-left {
    padding: 3em 2em;
    border-radius: 10px 0 0 10px;
}

.form-left form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-left form input,
.form-left textarea {
    padding: 10px;
    border: 2px solid #201658;
    border-radius: 5px;
    width: 40em;
    max-width: 40em;
}

.form-left textarea {
    height: 10em;
    background-color: #f0f0f0;
    resize: none;
}

.form-left button {
    margin: 1em 0;
    padding: 8px 3em;
    border: 2px solid #201658;
    border-radius: 5px;
    color: #201658;
    font-weight: 600;
}

.form-left button i {
    font-size: 1.2em;
}

.form-left button:hover {
    color: #fff;
    background-color: #201658;
}

.form-right {
    position: relative;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
}

.form-right img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0 10px 10px 0;
}

.form-right button {
    position: absolute;
    top: 50%;
    left: 45%;
    padding: 10px 25px;
    border-radius: 5px;
    border: 2px solid rgba(32, 22, 88, 0.5);
    background-color: rgba(46, 46, 46, 0.3);
    color: #fff;
    font-size: 1em;
    font-weight: 500;
}

.form-right button i {
    font-size: 1.2em;
}

.form-right button:hover {
    background-color: #201658;
}

.map {
    margin: 0.5em 4em;
    border-radius: 10px;
    border: 1px solid #201658;
    overflow: hidden;
}

.map iframe {
    object-fit: cover;
    width: 100%;
    height: 25em;
}


/* History Container Styles */
.history-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

/* Titles */
.section-title {
    color: #2980b9;
    font-size: 28px;
    margin-top: 30px;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 10px;
}

.intro-paragraph,
.movement-description,
.historical-context,
.missionary-arrival,
.name-change {
    line-height: 1.8;
    color: #555;
    margin: 15px 0;
}

/* Leadership Titles */
.leadership-title {
    color: #34495e;
    margin-top: 25px;
    font-size: 22px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

/* Lists */
.hierarchy-list,
.missions-list {
    margin: 15px 0;
    padding-left: 20px;
    color: #444;
    list-style-type: disc;
}

.note {
    font-style: italic;
    color: #666;
    margin: 10px 0;
}

/* //Book styling */
.book .book-item{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.book-item img{
    height: 19.5rem;
    width: 100%;
    border-radius: 5px;
}

/* Gallery Styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.gallery-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-image:hover {
    transform: scale(1.05);
}

/* News Section Styles */
.new-top {
    margin: 2em;
    border-radius: 10px;
    /* background-color:#e2e1e1; */
    background-color: rgba(32, 22, 88, 0.4);
    padding: 2em 16px;
    text-align: center;
}

.new-top form {
    display: flex;
    margin: 1em auto;
    border: 1px solid #201658;
    width: fit-content;
    border-radius: 10px;
}

.new-top form input {
    width: 20rem;
    padding: 10px 5px;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: 1px solid #201658;
    color: #333;
}

.new-top form button {
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 0 20px;
    background-color: #201658;
    color: #fff;
    font-weight: 500;
}

.new-top form button:hover {
    background-color: #fff;
    color: #201658;
}

.new-top p {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.new-top span {
    color: #433bff;
    font-size: 1.5em;
}

.new-top p em {
    color: rgb(235, 102, 102);
}

.new-top h3 {
    color: #fff;

}

.newest {
    margin: 2em;
    display: flex;
    gap: 1em;
}

.newest>img {
    object-fit: cover;
    height: 25em;
    width: 130em;
    border-radius: 10px;
    border-bottom: 5px solid #201658;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease;

}

.newest>img:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}



.newest h1 {
    color: #201658;
    margin: 1em 0;
    cursor: pointer;
}

.newest h1:hover {
    text-decoration: underline;
}

.newest .news-cont {
    color: #444;
}

.who {
    display: flex;
    gap: 1em;
}

.who img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.who img:hover {
    border: 2px solid #201658;
}

.dot {
    width: 5px;
    height: 5px;
    margin: 1em 0;
    border-radius: 100%;
    background-color: #201658;
}

.cate {
    display: flex;
    gap: 1em;
    margin: 1.0em 0;
}

.cate span:first-child,
.cate span:last-child {
    color: #2980b9;
    font-weight: 600;
    margin: 5px 0;
}

.time-posted {
    color: #444;
    margin: 5px 0;
}

.all-news {
    margin: 2.5em 2em;
}

.all-news .label {
    display: flex;
    justify-content: space-between;
}

.all-news .label h2 {
    color: #201658;
    margin: 1em 0;
}


.all-news .label span {
    padding: 8px 15px;
    color: #201658;
    font-weight: 600;
    cursor: pointer;
    margin: auto 0;
    font-size: 1.3em;
}

.all-news .label span:hover {
    text-decoration: underline;
}

.all-news .label span i {
    color: #201658;
    font-weight: 600;
}

.news-con {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.news-item .n-img {
    width: fit-content;
    border-radius: 10px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    position: relative;
}

.news-item .n-img img {
    height: 14em;
    border-radius: 10px;
    border-bottom: 5px solid #201658;
    object-fit: cover;
    cursor: pointer;
}

.news-item .n-img button {
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #201658;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s ease, visibility 0.4s ease;
    visibility: hidden;
    opacity: 0;
}

.news-item .n-img button:hover {
    background-color: #201658;
    color: #fff;
    border: none;
}


/* Show button when hovring over the .n-img */
.news-item .n-img:hover button {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

/* Hover effct on the image */
.news-item .n-img:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.news-item h4 {
    margin: 0.2em 0;
    font-size: 1.3em;
    color: #201658;

    cursor: pointer;
}

.news-item h4:hover {
    text-decoration: underline;
}

.news-item p {
    color: #444;
    object-fit: cover;
}

.news-ministry {
    margin: 2em auto;
    /* border: 2px solid #201658; */
    width: 90%;
    position: relative;
}


.news-ministry h2 {
    color: #201658;
}

.news-from-ministry {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin: 1em 0;
}

.news-from-ministry .from-ministry p {
    color: #201658;
    font-weight: 600;
}

.news-from-ministry .from-ministry img:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.news-from-ministry .from-ministry {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.news-from-ministry .from-ministry img {
    height: 5em;
    width: 5em;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
}

.news-from-ministry .from-ministry:nth-child(1) img {
    border: 4px solid #433bff;
}


.news-ministry span {
    margin: auto;
}

.news-modal {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1em;
    width: 300px;
    z-index: 1000;
    /* Make sure the modal is on top */
}

.news-modal .news-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.news-modal .news-item .item-info {
    margin-top: 10px;
}

.news-modal .news-item h4 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.news-modal .news-item .news-conte {
    font-size: 0.9em;
    color: #666;
}










/* sermon item styling */

.sermon-content {
    margin: 7em 5em;
}

.sermon-content .sermon-img {
    position: relative;
    width: fit-content;

}

.sermon-img img {
    height: 35em;
    width: 70em;
    border-radius: 10px;
    margin: 0 auto;

}

.sermon-btn {
    display: flex;
    justify-content: space-between;
}

.sermon-btn button {
    padding: 8px 20px;
    border: 2px solid #201658;
    border-radius: 5px;
    cursor: pointer;
    color: #201658;
}

.sermon-btn button:hover {
    background-color: #201658;
    color: #fff;
}

.sermon-content .by {
    margin: 10px 0;
}

.reads {
    margin: 10px 0;
}

.sermon-content h3 {
    color: #333;
    text-decoration: 0.2em underline #201658;
    margin: 10px 0;
}


.sermon-content li {
    list-style-type: none;
    color: #2e2e2e;
    font-weight: 500;
}

.related-images {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.related-images img {
    height: 26em;
    border-radius: 10px;
}

.sermon-desc {
    margin: 16px 0;
}

.full-text {
    display: none;
    margin-top: 10px;
}

.read-more {
    cursor: pointer;
    color: #201658;
    text-decoration: underline;
}

.thinks-item {
    margin: 10px 0;
}

.thinks-item li {
    list-style-type: decimal;
    color: #2e2e2e;
    font-weight: 500;
}

.thinks-item ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.listen audio {
    width: 75em;
    color: #201658;
}

.questions {
    margin: 10px 0;
}

.questions li {
    list-style-type: none;
    color: #2e2e2e;

}

.prayers .dropdown {
    display: none;
    margin-left: 20px;
}

.prayers ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 28px;

}

.prayers .toggle {
    cursor: pointer;
    color: #201658;
    padding: 8px 20px;
    border: 2px solid #201658;
}


/* styling all min ministry page */
.ministries {
    margin: 5em 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* 3 columns with min 250px width */
    gap: 20px;
}

.ministry-item {
    display: block;
    border-radius: 10px;
    border-left: 2px solid #201658;
    border-right: 2px solid #201658;
    border-top: 2px solid #2980b9;
    border-bottom: 2px solid #2980b9;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1),
        0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ministry-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2),
        0 10px 10px rgba(0, 0, 0, 0.15);
}

.ministry-item .image {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 200px;
    overflow: hidden;
}

.ministry-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ministry-info {
    margin-top: 12px;
    padding: 0 16px;
}

.ministry-info h2 {
    color: #201658;
}

.ministry-item button {
    padding: 8px 16px;
    color: #201658;
    font-weight: 500;
    border: none;
    cursor: pointer;
    padding: 8px 20px;
    margin: 16px;
    border: 2px solid #201658;
    border-radius: 5px;
}

.ministry-item button:hover {
    background-color: #201658;
    color: white;
}

/* misnistry item styling */

.cwm {
    margin: 5em 16px;
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.cwm:first-child {
    flex: 1;
}

.cwm.box:nth-child(2) {
    flex: 2;
}

.cwm:last-child {
    flex: 1;
}

.cwm .members {
    padding: 10px;
    border: 2px solid #201658;
    border-radius: 10px;
    height: fit-content;
}

.cwm .members .btn {
    display: flex;
    gap: 1em;
}

.members .btn button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.members .btn button:nth-child(2) {
    background-color: #201658;
    color: white;
}

.members .btn button:nth-child(2):hover {
    color: #201658;
    background-color: #fff;
}

.members .btn button:first-child:hover {
    color: #201658;
    border: 2px solid #201658;
}

.members .table {
    margin: 20px 0;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#member-list.active {
    display: block;
    opacity: 1;
}

.members table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.members thead {
    background-color: #201658;
    color: white;
}

.members th,
.members td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.members tr:hover {
    background-color: #1abc9c;
}

.members tbody tr:nth-child(even) {
    background-color: rgba(26, 188, 156, 0.2);
    color: black;
}

.members tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.cwm-info {
    width: 100%;
    overflow: hidden;
}

.cwm-info h3 {
    color: #201658;
    margin: 10px 0;
}

.cwm-info p {
    color: #4c4c4c;
}

.cwm-info .ministry-image {
    margin: 2em 10px;
}

.cwm-info .ministry-image .ministry-image-item {
    display: flex;
    gap: 1em;
}

.cwm-info .ministry-image .ministry-image-item .min-img {
    height: 12em;
    overflow: hidden;
}

.cwm-info .ministry-image .ministry-image-item img {
    object-fit: fill;
    width: 100%;
    border-bottom: 5px solid #201658;
    border-radius: 5px;
}

.cwm-info .img-cwm {
    /* border: 2px solid #201658; */
    height: fit-content;
}

.cwm-info .img-cwm img {
    width: 100%;
    object-fit: cover;
    border-bottom: 10px solid #201658;
    border-radius: 10px;
}

.cwm .posts {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.posts .upcomings {
    border: 2px solid #201658;
    border-radius: 10px;
}

.posts .upcomings .event {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.cwm .posts h3 {
    padding: 0 10px;
    color: #201658;
}

.posts h4 {
    color: #535353;
}

.posts .event .item span i {
    color: #201658;
    font-size: 1.3em;
}

.posts .event .item {
    display: flex;
    gap: 5px;
}


.posts .event .item-info {
    padding: 5px;
}

.event .item img {
    height: 5em;
    border-radius: 10px;
    border-left: 5px solid #2980b9;
}

.ministry-news {
    margin: 10em 0;
    border-radius: 10px;
    border: 2px solid #201658;
    padding: 10px;
}

.ministry-news .event {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.ministry-news .item .item-info .btn button {
    padding: 5px 10px;
}

.donate-container{
    display: flex;
    justify-content: space-between;
    background-image: url(/assets/img/bible.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.donate-container .why-donate{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.donate-container .why-donate i {
    border: 2px solid #201658;
    padding: 1em 1.1em;
    background-color: #201658;
    color: #fff;
    font-size: 2rem;
    border-radius: 100%;
    box-shadow: 0px 0px 18px 7px rgba(41, 128, 185, 1);
    animation: myAnim 5s ease infinite;
    cursor: pointer;
}

@keyframes myAnim {
    0%, 50%, 100% {
        border-color: #201658;
        box-shadow: 0px 0px 18px 7px rgba(41, 128, 185, 1);
        opacity: 1;
    }

    25%, 75% {
        border-color: transparent;
        box-shadow: none;
        opacity: 0;
    }
}
/* Modal Hidden Class */
.donate-page .hidden {
    display: none;
}

/* Modal Styling */
.donate-page .modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Transparent background */
    justify-content: center;
    align-items: center;
}

.donate-page .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    text-align: center;
}

/* Close Button */
.donate-page .close {
    position: absolute;
    top: -10px;
    right: 1px;
    font-size: 2em;
    color: #004080;
    font-weight: bold;
    cursor: pointer;
}

.donate-container .donate-now{
    width: 50%;
    background-color: #fff;
    height: fit-content;
    padding: 1.5em;
    margin-right: 5%;
    
}

.donate-container .donate-now p i{
    padding: 5px;
    border: 1px solid #201658;
    border-radius: 50%;
    background-color: #201658;
    color: #fff;
    margin-right: 0.5em;
}

.donate-container .donate-now p:nth-child(1){
    font-size: 1.3rem;
    font-weight: 500;
}

.donate-container .donate-now h2{
    margin: 0.5em 0;
    color: #201658;
}

.donate-container .donate-now p:nth-child(1){
    color: #2e2e2e;
    font-weight: 400;
}

.donate-container .donate-now form{
    margin: 1em 0;
}

.donate-now form .subscribe{
    display: flex;
    border: 2px solid #201658;
    width: fit-content;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
}

.donate-now form .subscribe input{
    padding: 7px 4rem;
    /* border-radius: 6px; */
    border: none;
    width: 1000%;
}

.donate-now form .subscribe input:hover{
    background-color: #201658;
    color: #fff;
}

.donate-now form .subscribe input:nth-child(1){
    background-color: #201658;
    color: #fff;
}

.donate-now form .assurance {
    border-left: 5px solid #201658;
    margin: 1em 0;
    padding: 0 0.5em;
    border-radius: 5px;
    display: block;
    width: 100%;
}

.donate-now form .assurance label {
    font-size: 1em;
    font-weight: 500;
}

.donate-now form .assurance textarea {
    resize: none;
    width: 102%;
    padding: 0.5rem;
}


.donate-now form .input-amount{
    display: flex;
    border: 2px solid #201658;
    width: 100%;
}

.donate-now form .input-amount input{
    width: 100%;
    border: none;
    outline: none;
    padding: 0 0.3em;
    font-size: 1.2em;
}

.donate-now form .input-amount button{
    padding: 0.2rem 1rem;
    border: none;
    background-color: #201658;
    color: #fff;
}

.donate-now form .input-amount button:hover{
    background-color: #fff;
    color: #201658;
    border-right: 1px solid #201658;
}

.donate-now form .input-amount button i{
    font-size: 1.2rem;
}

.donate-now form .how-much{
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.donate-now form .how-much input{
    padding: 8px 0.5em;
    border: 1px solid #201658;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 500;
    color: #2e2e2e;
    cursor: pointer;
}

.donate-now form .how-much input:hover{
    background-color: #201658;
    color: #fff;
}


.donate-now form input[type='btn']{
    padding: 8px 15px;
    text-align: center;
    color: #201658;
    font-weight: 500;
    font-size: 1rem;
    border: 2px solid #201658;
    border-radius: 3px;
    cursor: pointer;
}

.donate-now form input[type='btn']:hover{
    color: #fff;
    background-color: #201658;
}



.confirmation form {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.confirmation fieldset {
    margin-bottom: 20px;
    border: 2px solid #005b99;
    border-radius: 8px;
    padding: 15px;
}

.confirmation legend {
    font-weight: bold;
    color: #005b99;
}

.confirmation label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.confirmation input[type="text"],.confirmation input[type="number"],.confirmation input[type="date"],.confirmation textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.confirmation textarea {
    resize: vertical;
    min-height: 80px;
}

.confirmation button {
    background-color: #005b99;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.confirmation button:hover {
    background-color: #004080;
}
.confirmation h1{
    text-align: center;
}
.confirmation .note{
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-size: 1.1rem;
    font-style: italic;
}
.confirmation .top{
    display: flex;
    align-items: center;
    gap: 10%;
}
.confirmation #logo{
    width: 10%;
}