@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

* {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

header {
    box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration:none;
}


header .logo img {
    height: 3.5em;
}

.logo span {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.highlight {
    color: #433bff;
    font-weight: 600;
}

.navbar {
    display: flex;
    gap: 10px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 10px 15px;
}

.navbar a:hover {
    text-decoration: underline 2px #201658;
    color: #433bff;
}

/* Dropdown styling */
.dropdown {
    position: relative;
    padding: 10px 15px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    list-style: none;
    padding: 0;
    width: 150px;
}

.dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #f4f4f4;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

header .btn button {
    margin-left: 10px;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

header .btn button:hover{
    background-color: #201658;
    color: #fff;
}

header .btn button:nth-child(2){
    background-color: #201658;
    color: #fff;
}

.btn button:nth-child(2) i{
    font-size: 1.2em;
}

.btn button:nth-child(2) i:hover{
    color: #201658;
}

.btn button:nth-child(2):hover{
    color: #201658;
    background-color: #fff;
    border: 2px solid #201658;
}

/* header section done */

/* hero section starts */
.hero{
    display: flex;
    flex-direction:column;
    background-image: url(/assets/img/Church.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    
}

.hero-content{
    margin: 5em auto;
    text-align: center;
}

.hero-content h1{
    font-size: 2em;
    color: #333;
}

.hero-content span{
    font-size: 3em;
    font-weight: 500;
    color: #433bff;
}

.hero-content p{
    color: #fff;
    font-size: 1em;
    font-weight: 500;
}

.hero-content .btn{
    margin: 20px auto;
}

.hero-content .btn button{
    margin-left: 10px;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.hero-content .btn button:nth-child(1){
    background-color: #201658;
    color: #fff;
}

.hero-content .btn button:nth-child(2) i{
    color: #201658;
}

.hero-content .btn button:nth-child(1):hover{
    color: #201658;
    border: 2px solid;
    background-color: #fff;
}

.hero .socials{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 2em;
    left: 1em;
    top: 10em;
    padding: 10px 2px;
    background-color: rgba(51, 51, 51,0.4);
    border: 2px solid #201658;
    border-radius: 5px;
}

.hero .socials a{
    text-decoration: none;
}

.hero .socials i{
    color: #fff;
    font-size: 1.3em;
    padding: 2px 5px;
}

.hero .socials i:hover{
    color: #201658;
    border: 1px solid #433bff;
    border-radius: 3px;
}

.hero .times{
    display: flex;
    margin: 0 auto;
    background-color: rgba(221, 221, 221,0.7);
    gap: 1em;
    border-radius: 5px;
    padding: 1em 2em;
    border: 1px solid #201658;
}

.times .service{
    display: flex;
    gap: 0.5em;
}

.times .service i{
    font-size: 1.5em;
    color: #201658;
}

.times .service h2{
    color: #201658;
}

/* hero section done */

