@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

* {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

header {
    position: fixed;
    top: 0; 
    left: 0; 
    box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    z-index: 1000;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration:none;
}


header .logo img {
    height: 3.5em;
}

.logo span {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.highlight {
    color: #433bff;
    font-weight: 600;
}

.navbar {
    display: flex;
    gap: 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
}

.navbar a:hover {
    text-decoration: underline 2px #201658;
    color: #433bff;
}

/* Dropdown styling */
.dropdown {
    position: relative;
    padding: 10px 15px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    list-style: none;
    padding: 0;
    width: 150px;
}

.dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #f4f4f4;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

header .btn button {
    margin-left: 10px;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    background-color: rgba(51, 51, 51,0);
}

header .btn button:hover{
    background-color: #201658;
    color: #fff;
}

header .btn button:nth-child(2){
    background-color: #201658;
    color: #fff;
}

.btn button:nth-child(2) i{
    font-size: 1.2em;
}

.btn button:nth-child(2) i:hover{
    color: #201658;
}

.btn button:nth-child(2):hover{
    color: #201658;
    background-color: #fff;
    border: 2px solid #201658;
}

/* header section done */

/* hero section starts */
.hero {
    background-image: url(/assets/img/back\ \(2\).jpg);
    background-size: cover;
    height: 100vh;
    align-items: center;
    color: white; 
    position: relative;
}

.hero h1{
    padding-top: 3em;
    text-align: center;
    font-size: 2em;
}

.hero-others{
    display: flex;
    gap: 1em;
    margin-top: 16px;
    position: absolute;
    bottom: 0; 
    left: 0;
}

.hero-others img{
    width: 100%;
    max-width: 45em;
    height: auto;
}

.hero-others .hero-text{
    margin-top: 7em;
}

.hero-text span{
    font-weight: 600;
    color: #433bff;
    font-size: 2em;
}

.hero-text p{
    margin: 5px;
    color: #333;
    font-weight: 500;
}

.hero-text button{
    margin-left: 10px;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    background-color: #201658;
}

.hero-text button:hover{
    color: #201658;
    background-color: #fff;
    border: 2px solid #201658;
}

.hero-text button i{
    font-size: 1em;
}

.schedule-modal{
    margin: 5em 16px;
    display: flex;
    justify-content: space-between;

}

.schedule-modal 