@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

* {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; /**Gusy this is to make sure we can control the layout*/
}

body {
    /* margin: px; */
    /* background-color: white; */
}

a {
    text-decoration: none;
    color: white;
}

li {
    margin-right: 30px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center; 
}

.socials > ul {
    display: flex;
    align-items: center;
}

.location {
    margin-left: 16px;
    display: flex;
    color: white;
    align-items: center;
}

.location >span{
    margin-left: 10px;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px; 
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 16px; 
}
.home-logo{
    display: flex;
}

.home-logo > span{
    margin-top: 10px;
    color: black;
}

.right-nav {
    margin-left: auto;
    display: flex;
}

.right-nav ul {
    display: flex;
    align-items: center; 
}

.right-nav li {
    margin-right: 10px; 
}

.right-nav button {
    margin-left: 5px;
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    width: 110px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.right-nav button i{
    margin-right: 10px;
}

.right-nav button:hover {
    background-color: #0056b3; 
}

.right-nav a:hover{
    color: aqua;
}

.active{
    color: aqua;
}

header {
    position: relative;
    top: 10;
    width: 100%;
    background-color: rgba(118, 112, 112, 0.4); 
    margin-bottom: 0;
    z-index: 10; 
}

/* service styling */
.page{
    background-color: #007BFF;
    height: 150px;
    text-align: center;
    padding: 20px;
}

.breadcrump .active-service{
    color: aqua;
}
.breadcrump a:hover{
    color: aqua;
}

.page .service{
    color: white;
}

.centered-logo {
    position: relative; 
    top: -30px; 
    text-align: center;
    
}

.centered-logo img {
    width: 100px;
    height: auto;
    border: 5px solid white;
    border-radius: 50px;
}

.content{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.service-card{
    width: 400px;
    -webkit-box-shadow: 0px 3px 6px 7px rgba(212,212,212,1);
    -moz-box-shadow: 0px 3px 6px 7px rgba(212,212,212,1);
    box-shadow: 0px 3px 6px 7px rgba(212,212,212,1);
    margin-bottom: 15px;
    border-radius: 10px;
}
.service-card h2{
    text-align: center;
}

.service-card img{
    width: 400px;
    height: 200px;
    border-radius: 5px;
}

.service-card .other-info{
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center; 
    align-items: center;           
    text-align: center; 
}
.details{
    text-align: center;
}
.service-card .details button{
    background-color: aliceblue;
    border: 1px solid #0056b3;
    border-radius: 30px;
    height: 40px;
    width: 150px;
    margin: 5px;
    font-size: 16px;
    font-weight: 400;
    
}
.service-card .details button i{
    color: #0056b3;
    font-size: 16px;
    margin-right: 10px;
}
