@use "utils" as *;
@use "global" as *;

.about-us-page {
  &.mainSection {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255 255 255);
    overflow: hidden;
  }

  .flex_col {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px 0;
    margin: 0 auto 185px;
    width: 100%;
    max-width: 1440px;

    @include md {
      margin: 0 auto 150px;
    }

    @include xs {
      margin: 0 auto 80px;
    }

    @include tn {
      margin: 0 auto 50px;
    }
  }

  .content_box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(217 217 217);
  }

  .heroImage {
    position: absolute;
    inset: 34px 1290px 21px 42px;
    width: 108px;
    height: 111px;
  }

  .navigationSection {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 64px 74px 76px 556px;
    width: 810px;
    max-width: 85%;

    @include md {
      margin: 64px 32px 76px;
    }

    @include sm {
      flex-direction: column;
      align-items: center;
      gap: 30px 10px;
      margin: 64px auto 76px;
    }

    @include tn {
      margin: 50px auto;
    }
  }

  .navItemHome {
    margin: 0 0 2px;
    width: 64px;
    height: 24px;
    font: 700 20px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include sm {
      margin: 0;
      width: 100%;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  .navItemAbout {
    margin: 0 0 2px;
    width: 60px;
    height: 24px;
    font: 700 20px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include sm {
      margin: 0;
      width: 100%;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  .navItemServices {
    margin: 0 0 2px;
    width: 92px;
    height: 24px;
    font: 700 20px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include sm {
      margin: 0;
      width: 100%;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  .navItemMinistries {
    margin: 0 0 2px;
    width: 98px;
    height: 24px;
    font: 700 20px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include sm {
      margin: 0 auto;
      width: 100%;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  .navItemNews {
    margin: 0 0 2px;
    width: 56px;
    height: 24px;
    font: 700 20px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include sm {
      margin: 0;
      width: 100%;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  .navItemContact {
    margin: 0 0 2px;
    width: 90px;
    height: 24px;
    font: 700 20px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include sm {
      margin: 0;
      width: 100%;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  .navItemDonate {
    margin: 2px 0 0;
    width: 90px;
    height: 24px;
    font: 700 20px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include sm {
      margin: 0;
      width: 100%;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  .contentSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px 0;
    margin: 0 auto;
    width: 88.06%;
    max-width: 1268.0625px;
  }

  .flex_col1 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .churchTitle {
    margin: 0 12px;
    width: 98.1%;
    height: 36px;
    font: 800 30px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 91 153);

    @include xl {
      margin: 0 auto;
    }

    @include md {
      align-items: flex-start;
      font-size: 28px;
    }

    @include xxs {
      font-size: 24px;
    }
  }

  .churchHeroTitle {
    margin: 18px 0 0 10px;
    width: 99.21%;
    height: 96px;
    font: 800 40px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      align-items: flex-start;
      font-size: 36px;
    }

    @include xxs {
      font-size: 32px;
    }

    @include tn {
      margin: 18px 0 0 8px;
    }
  }

  .color2 {
    margin: 10px 54px 0 0;
    width: 95.74%;
    height: 6px;
    background-color: rgb(0 91 153);

    @include md {
      margin: 10px 32px 0 0;
    }

    @include xs {
      margin: 10px 16px 0 0;
    }

    @include tn {
      margin: 10px 8px 0 0;
    }
  }

  .flex_row {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    width: 92.59%;

    @include xl {
      flex-direction: column;
      align-items: center;
      gap: 30px 10px;
    }
  }

  .churchDescription {
    display: flex;
    flex-direction: column;
    width: 522px;
    min-width: 0;
    height: 456px;

    @include xl {
      width: 100%;
      min-width: unset;
    }
  }

  .subtitleDescription1 {
    margin: 0 24px 0 182px;
    width: 316px;
    max-width: 85%;
    height: 240px;
    font: 400 20px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include lg {
      margin: 0 auto;
    }

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  .subtitleDescription2 {
    width: 100%;
    height: 216px;
    font: 400 20px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    letter-spacing: -0.31px;

    @include md {
      align-items: flex-start;
      font-size: 18px;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  .churchVisionMission_box {
    margin: 7px 0 161px;
    width: 610px;
    height: 288px;

    @include xl {
      margin: 0;
      width: 100%;
    }

    @include md {
      align-items: flex-start;
    }
  }

  .churchVisionMission {
    font: 700 20px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);

    @include md {
      font-size: 18px;
    }

    @include xxs {
      font-size: 16px;
    }
  }

  .churchVisionMission_span0 {
    font: 700 1em/1.2 Inter, Helvetica, Arial, serif;
  }

  .churchVisionMission_span1 {
    font: 1em/1.2 Inter, Helvetica, Arial, serif;
  }

  .churchVisionMission_span2 {
    font: 1em/1.2 Inter, Helvetica, Arial, serif;
    text-decoration: underline;
  }

  .churchVisionMission_span3 {
    font: 1em/1.2 Inter, Helvetica, Arial, serif;
  }

  .churchVisionMission_span4 {
    font: 1em/1.2 Inter, Helvetica, Arial, serif;
    text-decoration: underline;
  }

  .churchVisionMission_span5 {
    font: 1em/1.2 Inter, Helvetica, Arial, serif;
  }

  .communityImage {
    position: absolute;
    inset: 394px 1164px 402px 108px;
    width: 168px;
    height: 228px;
  }
}
